bin
build
_build
dist
include
lib

.DS_Store
.Python
.coverage
.eggs
.ipynb_checkpoints

junit.xml

*.egg-info
*.pyc
*.pyo
*.swp
*.zip

pip-selfcheck.json
anchorman/example.html

docs/htmlcov
htmlcov
.cache