bin
build
_build
dist
include
lib
prof
index.*
errors.log

.DS_Store
.Python
.coverage
.eggs
.ipynb_checkpoints
.idea
junit.xml

*.egg-info
*.pyc
*.pyo
*.swp
*.zip

pip-selfcheck.json
anchorman/example.html

docs/htmlcov
htmlcov
.cache
.tox
